version: '2'

services:
  homework-bot:
      image: homework:latest
      restart: unless-stopped
      environment:
        - BOT_TOKEN=${BOT_TOKEN}
        - CHAT_ID=${CHAT_ID}
        - API_TOKEN=${API_TOKEN}
        - EDUCATION_ID=${EDUCATION_ID}
